﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Sol_Jquery_Accordion.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>
<body>
    <form id="form1" runat="server">
        
        <div id="accordion">
  <h3>Tanmay joshi</h3>
  <div>
    <p>
    FirstName=Tanmay<br>
        LastName=Joshi<br>
        Age=24<br>
    </p>
  </div>
  <h3>Sheetal Awate</h3>
  <div>
    <p>
    FirstName=Sheetal<br>
        LastName=Awate<br>
        Age=22<br>
    </p>
  </div>
  <h3>Sarika Memane</h3>
  <div>
    <p>
    FirstName=Sarika<br>
        LastName=Memane<br>
        Age=22<br>
    </p>
      </div>
      <h4>Rajkiran Nalawade</h4>
  <div>
    <p>
    FirstName=Rajkiran<br>
        LastName=Nalawade<br>
        Age=23<br>
    </p>
      </div>
   
</div>

    </form>
</body>
</html>
